.idj.sheet.actor .inventory-currency .currency {
  display: flex;
  align-items: center;
  list-style: none;
}
.idj.sheet.actor .inventory-currency .currency-header {
  flex: 0 0 13px;
  text-align: center;
  align-items: center;
  margin-right: 0.5rem;
}
.idj.sheet.actor .inventory-currency .currency-header i {
  font-size: 20px;
}
.idj.sheet.actor .inventory-currency .currency-item {
  display: flex;
  align-items: center;
  background: var(--faint-color);
  border-radius: 5px;
  padding: 0 0.5rem 0 0;
  margin-right: 0.5rem;
  line-height: 30px;
}
.idj.sheet.actor .inventory-currency .currency-item input {
  text-align: right;
  flex: 1;
  padding-left: 0.5rem;
  border: 0;
  background: none;
  margin: 0;
}
.idj.sheet.actor .inventory-currency .currency-item label {
  margin-left: 0.25rem;
  flex: unset;
}
.idj.sheet.actor .inventory-currency .currency-item .denomination {
  text-transform: uppercase;
}
