<div class="form-group">
	<label for="textoParaOChat">{{ localize 'IDJ.detalhes.textoParaOChat' }}</label>
	<textarea name="data.textoParaOChat" contenteditable="true">{{data.textoParaOChat}}</textarea>
</div>